$off-white: #f6f6f6;
$gray: #0f0f0f;
$black: #000;

.about-page {
  color: $off-white;
  background-color: $black;
  line-height: 1.5;

  .wrapper {
    margin: 0 auto;
  }

  h1 {
    font-size: 5rem;
    margin-top: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .vision-mission-group {
    display: flex;
    justify-content: space-between;

    #vision {
      margin-right: 30px;
    }

    @media (max-width: 961px) {
      flex-direction: column;

      #vision {
        margin-right: 0;
      }
    }
  }

  .aboutus-item {
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 30px;
    max-width: 1180px;
    width: 100%;
  }

  .aboutus {
    overflow: hidden;
    min-height: 100vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .wrapper {
      width: 100%;
      max-width: 1400px;
    }
  }

  //.about-page section
  .section-content {
    min-height: 50vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    display: table;
    margin: 40px 0;
    padding: 0 150px;

    @media screen and (max-width: 961px) {
      padding: 0 75px;
    }

    @media screen and (max-width: 530px) {
      padding: 100px 40px 0 40px;
      margin: 0;
      align-items: center;
    }
  }

  //updated title heading color
  .about-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
    background-color: $gray;
    padding: 50px 30px 20px 30px;
  }

  i {
    color: $white;
  }

  .open {
    transform: rotate(180deg);
  }

  .about-description {
    background-color: $gray;
    color: $white;
    padding: 0px 30px 50px 30px;
    display: none;
  }

  .aboutus-item-values {
    list-style: none;
    line-height: 2;
  }
}
