  .about-page {
    color: #F6F6F6;
    background: #060607; 

    .wrapper {

      width:75%;
      margin:0 auto;

    
      h1 {
      font-size: 5rem;
      padding-top:10%;
      margin: 0 auto; 
      text-transform: uppercase;
    }

    .aboutus-item {
      background-color:#161616;
      margin:20px 0px;
      padding: 0px 50px;
      padding-bottom:30px
    }


      .about-page section {
      overflow: hidden;
      min-height: 100vh;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; 
    }

      .about-page section .wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      margin: 0 auto;
      max-width: 1400px; }

      //.about-page section 
      .section-content {
      margin: 0 auto;
      min-height: 50vh;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative;
      z-index: 1; 
      border:0px solid blue;
      display: table; 
      margin-top:50px;
      }

      //updated title heading color
      .about-title {
      padding:30px 0px 50px 0px;
      color:#E91A2C;
      border:0px solid white;
      text-transform:uppercase;
      }

      .about-description {
      //padding-top:50px;
      }

      .aboutus-item {
      display: -webkit-box;
      display: -ms-flexbox;
      //display: flex;
      height: 100%;
      width:50%;
      padding: 0px 10px 20px 10px;
      border:0px solid blue;
      margin: 0px 30px 0px 30px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      //flex-direction: column;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      //justify-content: space-evenly; 
      display: table-cell;
    }


    .aboutus-item-values {
      display: -webkit-box;
      display: -ms-flexbox;
      height: 100%;
      width:100%;
      border:0px solid blue;
      background-color:#161616;
      margin: 50px 0px 10px 0px;
      padding: 0px 0px 20px 10px 


    }


    @media only screen and (max-width: 900px) {
      .aboutus-item {
        display: block;
        width: 100%;
        margin-left:0px;
        border-bottom:50px solid black;
      }


      .aboutus-item-values {
        margin: 0px 0px 10px 0px;
        padding: 0px 0px 20px 10px 
  
  
      }
  



    }


      .aboutus {
      padding-top: 60px; 
    }

    }
  }