.events-page {
  color: white;
  background: #0f0f0f;
   
  section {
    overflow: hidden;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    .wrapper {
      display: flex;
      width: 100%;
      margin: 0 auto;
      max-width: 1400px;
    }
    .section-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      z-index: 1;
      margin: 40px 0;
      padding: 0 150px;

      h1 {
        font-weight: 600;
        font-size: 5rem;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 60px;
      }
      
      .description {
        color: #f6f6f6;
      }
    }
  }
}


.gallery  {
  display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      position: relative;
      z-index: 1;
      margin: 40px 0;
}

.webinar-item {
  height: 504px;
  width: 32.5%;
  background-color: #161616;

  .title {
    color: #e9002d;
    text-transform: uppercase;
  }

  .video {
    height: 40%;
    iframe {
      height: 100%;
      width: 100%;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 15px;
    height: 60%;
  }
}