.events-page {
  color: $white;
  background: $black;

  header.events-header {
    position: inherit;
  }

  section {
    overflow: hidden;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    .wrapper {
      display: flex;
      width: 100%;
      margin: 0 auto;
      max-width: 1400px;
    }
    .section-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      z-index: 1;
      margin: 40px 0;
      padding: 0 150px;
      @media screen and (max-width: 961px) {
        padding: 0 75px;
      }

      @media screen and (max-width: 530px) {
        padding: 100px 40px 0 40px;
        margin: 0;
        align-items: center;
      }

      h1 {
        font-weight: 600;
        font-size: 5rem;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 60px;
        letter-spacing: 15px;
      }

      .description {
        color: $white;
        line-height: 1.6;
        letter-spacing: 1px;
        max-width: 1000px;
      }
    }
  }

  .gallery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    margin: 40px 0;
  }

  .webinar-item {
    position: relative;
    max-width: 530px;
    background-color: $dark-grey;
    margin-bottom: 40px;

    .title {
      color: $cherry-red;
      text-transform: uppercase;
      line-height: 1.25;
      margin-bottom: 10px;
    }

    .video {
      height: 300px;
      iframe {
        height: 100%;
        width: 100%;
      }
    }

    .text {
      padding: 10px 12px;
      line-height: 1.6;
      letter-spacing: 1px;
    }

    .more {
      display: none;
    }
    .read-more {
      color: $cherry-red;
      cursor: pointer;
    }
  }
}
