footer {
  color: #3c3c3c;
  background-color: #000;
  padding: 50px 0;
  
  .wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1500px;
    display:flex;
    justify-content: space-between;

    @media screen and (max-width: 960px){
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }

  .scroll-top {
    height: 56px;
    width: 52px;
    border: solid 1px white;
    background: #000;
    display: none;
    position: fixed;
    right: 45px;
    bottom: 0px;
    z-index: 999;
    transition: $default-transition;

    &:hover, &:focus {
        transition: $default-transition;
        border-color: #e9002d;
      }

    @media screen and (max-width: 1000px){
      right: 15px
    }
  }

  .chevron {
    display:inline-block;
    width: .6em;
    height: .8em;
    position:relative;
    bottom: 15px
  }

  .chevron:before,
  .chevron:after {
    display:block;
    content:"";
    width:0;
    height:0em;
    border-style:solid;
    position:absolute;
  }

  .chevron:before {
    right: -4.5px;
    border-width: 0 .5em .5em .5em;
    border-color: transparent transparent #f6f6f6 transparent;
    top: 6px;   
  }
  
  .chevron:after {
    left: 0px;
    border-width: 0 .4em .4em .4em;
    border-color: transparent transparent black transparent;
    top: 8px;  
  }
  
  .scroll-top:hover > .chevron:before {
    transition: $default-transition;
    border-color: transparent transparent #e9002d transparent;
  }

  .social-container {
    
    @media screen and (max-width: 960px){
      margin-bottom: 30px;
    }
    
    a {
      font-size: 2rem;
      color: #f6f6f6;
      padding: 2px;
      margin: 0 5px;

      &:hover, &:focus {
        transition: $default-transition;
        color: #e9002d;
      }
      @media screen and (max-width: 960px) {
        padding: 8px;

      }
    }

    i {
      position: relative;
      left: 5px;
    }
  }
}
