footer {
  color: #3c3c3c;
  background-color: $black;
  padding: 50px 0;

  .wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 960px) {
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }

  .scroll-top {
    height: 56px;
    width: 52px;
    border-style: none;
    border-bottom: none;
    background: $black;
    display: none;
    position: fixed;
    right: 45px;
    bottom: 0px;
    z-index: 999;
    transition: $default-transition;

    @media screen and (max-width: 1000px) {
      right: 15px;
    }
  }

  .chevron {
    display: inline-block;
    width: 12px;
    height: 16px;
    position: relative;
    bottom: 15px;
  }

  .chevron:before,
  .chevron:after {
    display: block;
    content: "";
    width: 0;
    height: 0em;
    border-style: solid;
    position: absolute;
  }

  .chevron:before {
    right: -4px;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $off-white transparent;
    top: 6px;
  }

  .chevron:after {
    left: -2px;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent $black transparent;
    top: 8px;
  }

  .scroll-top:hover > .chevron:before {
    transition: $default-transition;
    border-color: transparent transparent $cherry-red transparent;
  }

  .social-container {
    @media screen and (max-width: 960px) {
      margin-bottom: 30px;
    }

    a {
      font-size: 2rem;
      color: $off-white;
      padding: 2px;
      margin: 0 5px;

      &:hover,
      &:focus {
        transition: $default-transition;
        color: $cherry-red;
      }
      @media screen and (max-width: 960px) {
        padding: 8px;
      }
    }

    i {
      position: relative;
      left: 5px;
    }
  }
}
