// Variables
$default-transition: 150ms ease;
$slow-transition: 1000ms ease;
$header-font: "Barlow Semi Condensed", sans-serif;
$body-font: 'Inconsolata', monospace;

// Animations

// Global Styles

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}
html {
  font-size: 62.5%;
}

body {
  font-family: $body-font;
  font-size: 1.6rem;
  z-index: -30;
  background-color: #000000;
}

.button {
  width: 168px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  border-radius: 0;
  font-size: 1.5rem;
  outline: none;
}

.button::before,
.button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

// Primary CTA styles
.button-primary {
  color: #161616;
  background: #fff;
  overflow: hidden;
  &:hover, &:focus {
    color: #fff;
    background-color: #000000;
    border: none;
    animation: primary-fill 1s linear;
    &::before,
    &::after {
      width: 100%;
      height: 100%;
    }
    &::before {
      border-top-color: #e9002d;
      border-right-color: #e9002d;
      transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    }
    &::after {
      border-bottom-color: #e9002d;
      border-left-color: #e9002d;
      transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
        height 0.25s ease-out 0.75s;
    }
  }
  &::before,
  &::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }
  &::before {
    top: 0;
    left: 0;
  }
  &::after {
    bottom: 0;
    right: 0;
  }
}

// Secondary CTA styles
.button-secondary {
  color: white;
  border: 1px solid white;
  transition: color 0.25s;
  &:hover, &:focus {
    color: #fff;
    border: none;
    &::before,
    &::after {
      width: 100%;
      height: 100%;
    }
    &::before {
      border-top-color: #e9002d;
      border-right-color: #e9002d;
      transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    }
    &::after {
      border-bottom-color: #e9002d;
      border-left-color: #e9002d;
      transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
        height 0.25s ease-out 0.75s;
    }
  }
  &::before,
  &::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }
  &::before {
    top: 0;
    left: 0;
  }
  &::after {
    bottom: 0;
    right: 0;
  }
}

@keyframes primary-fill {
  0%,
  75% {
    background: transparent;
    color: #fff;
  }

  100% {
    background: #000000;
  }
}

.hide {
  visibility: hidden;
}

em {
  color: #e9002d;
  text-transform: none;
  font-style: normal;
}

a {
  text-decoration: none;
}

.fade-in-content {
  display:none;
}

// *:link:focus, *:visited:focus, *:focus-within {
//     outline: none;
// }

