// Variables
$default-transition: 150ms ease;
$header-font: "Barlow Semi Condensed", sans-serif;
$body-font: "Oxygen Mono", monospace;

// Animations
@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}
html {
  font-size: 62.5%;
}

body {
  font-family: $body-font;
  font-size: 1.6rem;
}
.button {
  width: 168px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 250ms ease-out, box-shadow $default-transition;
  $borderWidth: 3px;
  background: black;
  position: relative;
  border-radius: $borderWidth;
  &::after {
    content: "";
    position: absolute;
    top: calc(-1 * #{$borderWidth});
    left: calc(-1 * #{$borderWidth});
    height: calc(100% + #{$borderWidth} * 2);
    width: calc(100% + #{$borderWidth} * 2);
    background: linear-gradient(60deg, #002de9, #e9002d, #98106e, #4b1fad);
    border-radius: calc(2 * #{$borderWidth});
    z-index: -1;
    animation: animatedGradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
}

.button-primary {
  // color: black;
  color: white;
}

.button-secondary {
  color: white;
}
