header {
  transition: all 300ms ease-in-out;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000;
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
}

.to {
  color: #e9002d;
  text-transform: uppercase;
  font-size: 5rem;
}

.wit {
  font-size: 1.7rem;
  display: inline-block;
  width: 100px;
  font-family: $body-font;
  font-weight: 400;
}

.to,
.wit {
  transition: font-size $default-transition;
}

.scrolled-header {
  background: #0f0f0f;
  padding: 5px 0;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  span {
    margin-right: 20px;
  }
  &:hover .bars {
    width: 30px;
  }
}

.hamburger {
  width: 30px;
  padding: 20px 0;
  // Middle bar of the hamburger
  .bars {
    position: relative;
    width: 20px;
    height: 2px;
    border-radius: 2.5px;
    background: white;
    transition: all $default-transition;
  }
  // Top and bottom hamburger bars
  .bars::before,
  .bars::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    border-radius: 2.5px;
    background: white;
    transition: all $default-transition;
  }

  // Positioning the top and bottom bar
  .bars::before {
    left: 0;
    top: 8px;
  }

  .bars::after {
    left: 0;
    bottom: 8px;
  }
}

.bars-active {
  .bars::before {
    transform: translateY(12px) rotate(135deg);
  }

  .bars::after {
    transform: translateY(-12px) rotate(-135deg);
  }

  .bars {
    transform: scale(0);
  }
}

.nav-menu {
  z-index: 10;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: linear-gradient(
    rgba(0,0,0,.5),
    rgba(0,0,0,.5)
    );
  
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
  }
  
  .nav-right {
    padding-top: 9px;
  }
}

.menu-items {
  ul {
    opacity: 0;
    transition: all $slow-transition;
    max-width: 1125px;
    list-style: none;
    text-align: right;
    margin-right: 10%;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: $header-font;
    font-weight: 700;
    font-size: 9rem;
    line-height: 1;
    padding: 5px;
    transition: all $default-transition;

    &:hover {
      color: #002de9;
      padding-right: 26px;
    } 
  }
}

.search-bar {
  margin-right: 10%;
  padding: 5px; 
  
  &::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background: white;
    transition: width .3s
  }

  
  input {
    padding: 0 5px;
    font-size: 9rem;
    width: 100%;
    background: transparent;
    border-style: none;
    color: white;
    opacity: 0;
    transition: opacity $slow-transition;
    
    &::placeholder {
      text-transform: uppercase;
      color: white;
      font-family: $header-font;
      font-weight: 700;
      font-size: 9rem;
    }
  }
}

.show-underline::after {
  width: 100%
}

