header {
  transition: all 300ms ease-in-out;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000;
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  width: 150px;
  transition: all 0.3;
  img {
    width: 100%;
    max-width: 100%;
  }
}

.scrolled-header {
  background: #0f0f0f;
  padding: 5px 0;
  .logo {
    width: 100px;
  }
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  span {
    margin-right: 20px;
  }
  &:hover .bars {
    width: 30px;
  }
}

.hamburger {
  width: 30px;
  padding: 20px 0;
  // Middle bar of the hamburger
  .bars {
    position: relative;
    width: 20px;
    height: 2px;
    border-radius: 2.5px;
    background: white;
    transition: width $default-transition;
  }
  // Top and bottom hamburger bars
  .bars::before,
  .bars::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    border-radius: 2.5px;
    background: white;
  }

  // Positioning the top and bottom bar
  .bars::before {
    left: 0;
    top: 8px;
  }

  .bars::after {
    left: 0;
    bottom: 8px;
  }
}
