.home-page {
  color: white;
  background: black;
  h1,
  h2 {
    font-size: 7.5rem;
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 30px;
    @media (max-width: 815px) {
      font-size: 5rem;
    }
    @media (max-width: 530px) {
      font-size: 4rem;
      text-align: center;
    }
  }

  section {
    overflow: hidden;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    .wrapper {
      display: flex;
      width: 100%;
      margin: 0 auto;
      max-width: 1400px;
    }
    .section-content {
      min-height: 100vh;
      width: 550px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      z-index: 1;

      @media screen and (max-width: 815px) {
        p {
          width: 60%;
          font-size: 14px;
        }
      }
      @media screen and (max-width: 530px) {
        width: 100%;
        p {
          width: 100%;
          text-align: center;
        }
      }
    }
    .caption {
      font-size: 1.6rem;
      color: #f6f6f6;
      line-height: 1.5;
      letter-spacing: -0.1px;
      margin-bottom: 40px;
      width: 520px;
    }
  }

  .scroll-direction {
    display: flex;
    align-items: center;
    height: 40px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    span {
      padding-right: 20px;
      color: #f6f6f6;
      text-transform: uppercase;
    }
    @media screen and (max-width: 815px) {
      display: none !important;
    }
  }

  .mouse {
    display: inline-block;
    width: 23px;
    height: 38px;
    border-radius: 100px;
    border: solid 2px white;
    position: relative;
    margin-right: 75px;

    &::before {
      content: "";
      position: absolute;
      background: white;
      width: 2px;
      height: 5px;
      top: 6px;
      left: 9px;
      -webkit-animation: 1.2s ease-in-out infinite mouse-scroll-animation;
      -moz-animation: 1.2s ease-in-out infinite mouse-scroll-animation;
      animation: 1.2s ease-in-out infinite mouse-scroll-animation;
    }
  }

  .section1 {
    .main-header-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding-top: 60px;
      margin-left: 150px;
      h1 > span {
        display: block;
      }
    }
    .section-content {
      min-height: auto;
      margin-left: 0;
    }
    @media screen and (max-width: 961px) {
      .main-header-container {
        margin-left: 75px;
      }
    }

    @media screen and (max-width: 530px) {
      .main-header-container {
        margin: 0 20px;
      }
      .section-content {
        align-items: center;
      }
    }
  }

  .section2 {
    text-align: right;
    .wrapper {
      justify-content: flex-end;
    }
    .section-content {
      margin-right: 150px;
      align-items: flex-end;
    }
    @media screen and (max-width: 961px) {
      .section-content {
        margin-right: 75px;
      }
    }

    @media screen and (max-width: 530px) {
      .section-content {
        margin: 0 20px;
        align-items: center;
      }
    }
  }

  .section3 {
    // background-image: url("../assets/background3.png");
    .section-content {
      margin-left: 150px;
    }
    .button-secondary {
      margin-right: 20px;
    }
    p {
      width: 500px;
    }


    @media screen and (max-width: 961px) {
      .section-content {
        margin-left: 75px;
      }
    }
    @media screen and (max-width: 530px) {
      .section-content {
        margin: 0 20px;
        align-items: center;
      }
    }

  }

  .button-wrapper {
    display: flex;
  }
}

.home-page .content {
  overflow: hidden;
  display: inline-block;
  font-size: 7.5rem;
  line-height: 1;
  color: #ecf0f1;
  display: flex;
  > span {
    padding-right: 12px;
  }

  &__container {
    font-weight: 700;
    overflow: hidden;
    height: 8rem;
    &__text {

      display: inline-block;
      font-size: 7.5rem;
      color: #fff;
      line-height: 1;
    }

    &__list {
      // display: flex;
      // flex-direction: column;
      margin-top: 0;
      text-align: left;
      list-style: none;
      transform: translate3d(0, -100%, 0);

      animation-name: change;
      animation-duration: 15s;
      animation-iteration-count: infinite;

      &__item {
        line-height: 1;
        margin: 0;
        padding: 1px 0;
        // display: inline-block;
        width: auto;
      }
    }
  }
  @media screen and (max-width: 815px) {
    font-size: 5rem;
    > span {
      padding-right: 10px;
    }
    &__container {
      height: 50px;
      &__text {
        font-size: 5rem;
      }
    }
  }
  @media screen and (max-width: 530px) {
    font-size: 4rem;
    flex-direction: column;
    &__container {
      height: 40px;
      &__text {
        font-size: 4rem;
      }
      &__list {
        padding-left: 0;
        text-align: center;
      }
    }
  }
}

.focus-item {
  position: relative;
  color: #e9002d;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 5px;
    left: 2.5px;
    bottom: -3px;
    background-color: #e9002d;
    animation: expand 15s linear infinite;
  }
}

.tooltip-open {
  cursor: pointer;
  border-bottom:1px dotted #e9002d;
  &:hover {
    border-bottom:1px solid #e9002d;
  }
}

.tooltip {
  display:inline-block;
  position:relative;
  text-align:left;
  min-width:200px; 
  top:50px;
  transform:translate(-50%, 0);
  padding:10px 20px;
  color:#f6f6f6;
  background-color:#0f0f0f;
  font-weight:normal;
  font-size:14px;
  position:absolute;
  z-index:99999999;
  // box-sizing:border-box;
  border:2px solid #4c4c4c;box-shadow:0 1px 8px rgba(0,0,0,0.5);
  display: none;

  i {
    position: absolute;
    top: -2px;
    left: 12px;
    margin-left: -12px;
    width: 25px;
    height: 23px;

    &::after, &::before {
      right: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::after {
      border-color: rgba(15, 15, 15, 0);
      border-right-color: #0f0f0f;
      border-width: 8px;
      margin-top: -8px;
    }

    &::before {
      border-color: rgba(76, 76, 76, 0);
      border-right-color: #4c4c4c;
      border-width: 11px;
      margin-top: -11px;
    }
  }

  .tooltip-expand {
    cursor: pointer;
  }
  
  .tooltip-first {
    width: max-content;
    transition: all $default-transition;
    left: 85%;
    display:none;
  }
  
  .tooltip-second {
    width: 500px;
    transition: all $default-transition;
    line-height: 24px;
    left: 104%;
    display:none;
  }
}


@keyframes expand {
  0%,
  40% {
    width: 0;
  }
  42.5%,
  65% {
    width: 100%;
  }
  67%,
  100% {
    width: 0;
  }
}

@keyframes change {
  0%,
  7.5%,
  100% {
    transform: translate3d(0, 0%, 0);
  }
  10%,
  17.5% {
    transform: translate3d(0, -20%, 0);
  }
  20%,
  27.5% {
    transform: translate3d(0, -40%, 0);
  }
  30%,
  37.5% {
    transform: translate3d(0, -60%, 0);
  }
  40%,
  67.5% {
    transform: translate3d(0, -80%, 0);
  }
  70%,
  77.5% {
    transform: translate3d(0, -60%, 0);
  }
  80%,
  87.5% {
    transform: translate3d(0, -40%, 0);
  }
  90%,
  97.5% {
    transform: translate3d(0, -20%, 0);
  }
}

.landscape {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -20;
  opacity: 0;
  transition: opacity $slow-transition;
}

@-webkit-keyframes mouse-scroll-animation {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@-moz-keyframes mouse-scroll-animation {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes mouse-scroll-animation {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
