.home-page {
  color: white;
  background: rgb(233, 199, 199);
  h2 {
    font-size: 7rem;
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 30px;
  }

  section {
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
    .wrapper {
      min-height: 100vh;
      width: 550px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      z-index: 1;
    }
    p {
      font-size: 1.6rem;
      color: #a7a7a7;
      line-height: 1.5;
      letter-spacing: -0.1px;
      margin-bottom: 40px;
    }
  }

  .scroll-direction {
    display: flex;
    align-items: center;
    height: 40px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    span {
      padding-right: 20px;
    }
  }

  .mouse {
    display: inline-block;
    width: 23px;
    height: 38px;
    border-radius: 100px;
    border: solid 2px white;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: white;
      width: 2px;
      height: 8px;
      top: 21px;
      left: 9px;
    }
  }

  .section1 {
    background-image: url("../assets/background1.png");
    // position: relative;
    .main-header-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding-top: 60px;
      margin-left: 150px;

      h2 > span {
        display: block;
        min-height: 70px;
      }
    }
    .wrapper {
      min-height: auto;
      margin-left: 0;
    }
  }

  .section2 {
    background-image: url("../assets/background2.png");
    text-align: right;
    justify-content: flex-end;
    .wrapper {
      margin-right: 150px;
      align-items: flex-end;
    }
  }

  .section3 {
    background-image: url("../assets/background3.png");
    .wrapper {
      margin-left: 150px;
    }
    .button-secondary {
      margin-right: 20px;
    }
  }
}

.button-wrapper {
  display: flex;
}

.home-page .content {
  overflow: hidden;

  font-size: 7rem;
  line-height: 7rem;
  color: #ecf0f1;

  &__container {
    font-weight: 600;
    overflow: hidden;
    height: 7rem;

    &__text {
      display: inline;
      font-size: 7rem;
      color: #fff;
      line-height: 7rem;
    }

    &__list {
      margin-top: 0;
      padding-left: 124px;
      text-align: left;
      list-style: none;
      transform: translate3d(0, -100%, 0);

      animation-name: change;
      animation-duration: 12.5s;
      animation-iteration-count: infinite;

      &__item {
        line-height: 7rem;
        margin: 0;
      }
    }
  }
}

.focus-item {
  position: relative;
  color: #e9002d;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: #e9002d;
    animation: expand 12.5s linear infinite;
  }
}

@keyframes expand {
  0%,
  40% {
    width: 0;
  }
  42.5%,
  65% {
    width: 575px;
  }
  67%,
  100% {
    width: 0;
  }
}

@keyframes change {
  0%,
  7.5%,
  100% {
    transform: translate3d(0, -20%, 0);
  }
  10%,
  17.5% {
    transform: translate3d(0, -40%, 0);
  }
  20%,
  27.5% {
    transform: translate3d(0, -60%, 0);
  }
  30%,
  37.5% {
    transform: translate3d(0, -80%, 0);
  }
  40%,
  67.5% {
    transform: translate3d(0, -100%, 0);
  }
  70%,
  77.5% {
    transform: translate3d(0, -80%, 0);
  }
  80%,
  87.5% {
    transform: translate3d(0, -60%, 0);
  }
  90%,
  97.5% {
    transform: translate3d(0, -40%, 0);
  }
}
// Word Scramble Effect
