@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inconsolata", sans-serif;
}

html {
  font-size: 62.5%;
  z-index: -30;
  background-color: #000;
}

body {
  font-family: "Inconsolata", monospace;
  font-size: 1.5rem;
  z-index: -30;
  background-color: #000;
}

.button {
  width: 168px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  border-radius: 0;
  font-size: 1.5rem;
  outline: none;
}

.button::before,
.button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.button-primary {
  color: #fff;
  background: #e9002d;
  padding: 18px 20px;
  text-decoration: none;
  outline: none;
  transition: all 0.7s ease-in-out;
  background-size: 300% 100%;
}
.button-primary:hover {
  border: none;
  background-image: linear-gradient(
    310deg,
    #e9002d,
    #eb3941 30%,
    #f26681 40%,
    #fff 45%,
    #e2373f 50%,
    #e9002d
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.button-secondary {
  background: transparent;
  color: #fff;
  padding: 18px 20px;
  text-decoration: none;
  border: 1px solid #fff;
  outline: none;
  transition: all 0.7s ease-in-out;
  background-size: 300% 100%;
}
.button-secondary:hover {
  border: none;
  background-image: linear-gradient(
    310deg,
    #e9002d,
    #eb3941 30%,
    #f26681 40%,
    #fff 45%,
    #e2373f 50%,
    #e9002d
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
  background-position: 100% 300%;
  transition: all 0.4s ease-in-out;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

em {
  color: #e9002d;
  text-transform: none;
  font-style: normal;
}

a {
  text-decoration: none;
}

.fade-in-content {
  display: none;
  z-index: -30;
}

header {
  transition: all 300ms ease-in-out;
  background: #000;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
header .wrapper {
  margin: 0 auto;
  max-width: 1400px;
  padding-left: 150px;
  padding-right: 150px;
}
@media screen and (max-width: 961px) {
  header .wrapper {
    padding-left: 75px;
    padding-right: 75px;
  }
}
header nav {
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}
header .nav-left {
  padding: 8px 0;
}
header .logo {
  width: 90px;
  height: 90px;
  transition: all 300ms ease-in-out;
  z-index: 9999999;
}
header .scrolled-header {
  background: #000;
}
header .scrolled-header .logo {
  width: 90px;
}
header .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 20;
}
header .nav-right span {
  margin-right: 20px;
}
header .nav-right:hover .bars-inactive,
header .nav-right:focus .bars-inactive {
  width: 30px;
}
header .nav-right .menu {
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
header .menu-icon {
  display: grid;
  place-items: center;
  height: 24px;
  width: 30px;
  position: relative;
  cursor: pointer;
}
header .menu-icon > span {
  width: 30px;
  height: 1px;
  background: #fff;
  display: block;
  transition: all 150ms ease;
}
header .menu-icon:hover span:nth-child(1) {
  width: 30px;
}
header .menu-icon:hover span:nth-child(2) {
  width: 30px;
}
header .menu-icon.active span:nth-child(1) {
  transform-origin: center center;
  transform: rotate(-45deg) translate(-7px, 3.5px);
  width: 30px;
}
header .menu-icon.active span:nth-child(2) {
  transform: translateX(10px);
  opacity: 0;
}
header .menu-icon.active span:nth-child(3) {
  transform-origin: center center;
  transform: rotate(45deg) translate(-8px, -4.5px);
  width: 30px;
}
header .menu-icon .line-1 {
  width: 30px;
  justify-self: end;
}
header .menu-icon .line-2 {
  width: 20px;
  justify-self: end;
}
header .nav-menu {
  z-index: 10;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding-top: 75px;
}
header .nav-menu .wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
header .nav-menu .nav-right {
  padding-top: 9px;
}
header .menu-items {
  width: 100%;
}
header .menu-items ul {
  opacity: 0;
  transition: all 1000ms ease;
  list-style: none;
  text-align: right;
  margin-right: 10%;
}
header .menu-items a {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-family: "Inconsolata", sans-serif;
  font-weight: 600;
  font-size: 9rem;
  line-height: 1;
  padding: 5px;
  transition: all 150ms ease;
  outline: none;
}
header .menu-items a:hover:not(.coming-soon),
header .menu-items a:focus:not(.coming-soon) {
  color: #002de9;
  padding-right: 26px;
}
@media screen and (max-width: 530px) {
  header .menu-items a {
    font-size: 5rem;
  }
}
header .coming-soon .coming-soon-hide,
header .coming-soon .coming-soon-show {
  transition: all 150ms ease;
}
header .coming-soon .coming-soon-show {
  font-family: "Inconsolata", sans-serif;
  color: #e9002d;
  display: inline-block;
  position: absolute;
  right: 18.25%;
  opacity: 0;
}
header .coming-soon:hover .coming-soon-hide,
header .coming-soon:focus .coming-soon-hide {
  opacity: 0.05;
}
header .coming-soon:hover .coming-soon-show,
header .coming-soon:focus .coming-soon-show {
  opacity: 1;
}

.home-page {
  color: #fff;
  background: #000;
}
.home-page h1,
.home-page h2 {
  font-size: 7.5rem;
  text-transform: uppercase;
  line-height: 1.22;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: 10px;
}
@media (max-width: 815px) {
  .home-page h1,
  .home-page h2 {
    font-size: 5rem;
  }
}
@media (max-width: 530px) {
  .home-page h1,
  .home-page h2 {
    font-size: 4rem;
    text-align: center;
  }
}
@media (max-width: 380px) {
  .home-page h1,
  .home-page h2 {
    font-size: 3rem;
  }
}
.home-page h3 {
  font-size: 5rem;
  line-height: 2;
  font-weight: 600;
}
@media (max-width: 815px) {
  .home-page h3 {
    font-size: 4.5rem;
  }
}
@media (max-width: 530px) {
  .home-page h3 {
    font-size: 3.5rem;
    text-align: center;
  }
}
@media (max-width: 380px) {
  .home-page h3 {
    font-size: 2.5rem;
  }
}
.home-page section {
  overflow: hidden;
  min-height: 100vh;
  justify-content: center;
  display: flex;
}
.home-page section .wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}
.home-page section .section-content {
  min-height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 815px) {
  .home-page section .section-content .caption {
    width: 60%;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 530px) {
  .home-page section .section-content {
    min-height: 75vh;
    width: 100%;
  }
  .home-page section .section-content .caption {
    width: 100%;
    text-align: center;
  }
}
.home-page section .caption {
  margin-bottom: 40px;
  width: 520px;
  font-size: 1.8rem;
  color: #f6f6f6;
  line-height: 2;
  letter-spacing: 1px;
}
@media screen and (max-width: 530px) {
  .home-page section {
    min-height: 75vh;
  }
}
.home-page .section1 {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
.home-page .section1 .main-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 60px;
  margin-left: 150px;
}
.home-page .section1 .main-header-container h1 span {
  font-weight: bold;
  display: block;
}
.home-page .section1 .section-content {
  min-height: auto;
  margin-left: 0;
  overflow: visible;
}
@media screen and (max-width: 961px) {
  .home-page .section1 .main-header-container {
    margin-left: 75px;
  }
}
@media screen and (max-width: 530px) {
  .home-page .section1 {
    padding-top: 100px;
  }
  .home-page .section1 .main-header-container {
    margin: 0;
    padding: 0 10px;
  }
  .home-page .section1 .section-content {
    align-items: center;
  }
}
.home-page .section2 {
  text-align: right;
}
.home-page .section2 .wrapper {
  justify-content: flex-end;
}
.home-page .section2 .section-content {
  margin-right: 150px;
  align-items: flex-end;
}
@media screen and (max-width: 961px) {
  .home-page .section2 .section-content {
    margin-right: 75px;
  }
}
@media screen and (max-width: 530px) {
  .home-page .section2 .section-content {
    margin: 0 20px;
    align-items: center;
  }
}
.home-page .section3 .section-content {
  margin-left: 150px;
}
.home-page .section3 .button-secondary {
  margin-right: 20px;
}
@media screen and (max-width: 530px) {
  .home-page .section3 .button-secondary {
    margin-bottom: 20px;
  }
}
.home-page .section3 p {
  width: 500px;
}
@media screen and (max-width: 961px) {
  .home-page .section3 .section-content {
    margin-left: 75px;
  }
}
@media screen and (max-width: 530px) {
  .home-page .section3 .section-content {
    margin: 0 20px;
    align-items: center;
  }
}
.home-page .button-wrapper {
  display: flex;
}
@media screen and (max-width: 530px) {
  .home-page .button-wrapper {
    flex-direction: column;
  }
}

.home-page .content {
  overflow: hidden;
  display: inline-block;
  font-size: 7.5rem;
  line-height: 1;
  color: #f6f6f6;
  display: flex;
}
.home-page .content > span {
  padding-right: 12px;
}
.home-page .content__container {
  font-weight: 700;
  overflow: hidden;
  height: 8rem;
}
.home-page .content__container__text {
  display: inline-block;
  font-size: 7.5rem;
  color: #fff;
  line-height: 1;
}
.home-page .content__container__list {
  margin-top: 0;
  text-align: left;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  animation-name: change;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
.home-page .content__container__list__item {
  line-height: 1;
  margin: 0;
  padding: 1px 0;
  width: auto;
}
@media screen and (max-width: 815px) {
  .home-page .content {
    font-size: 5rem;
  }
  .home-page .content > span {
    padding-right: 10px;
  }
  .home-page .content__container {
    height: 5.3rem;
  }
  .home-page .content__container__text {
    font-size: 5rem;
  }
}
@media screen and (max-width: 530px) {
  .home-page .content {
    font-size: 4rem;
    flex-direction: column;
  }
  .home-page .content__container {
    height: 4.3rem;
  }
  .home-page .content__container__text {
    font-size: 4rem;
  }
  .home-page .content__container__list {
    padding-left: 0;
    text-align: center;
  }
}
@media screen and (max-width: 380px) {
  .home-page .content {
    font-size: 3rem;
  }
  .home-page .content__container {
    height: 3.2rem;
  }
  .home-page .content__container__text {
    font-size: 3rem;
  }
}

.focus-item {
  position: relative;
  color: #e9002d;
  display: inline-block;
}
.focus-item::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 5px;
  left: 2.5px;
  bottom: -3px;
  background-color: #e9002d;
  animation: expand 15s linear infinite;
}
@media screen and (max-width: 530px) {
  .focus-item::after {
    bottom: -3px;
    left: 0;
  }
}

.tooltip-open {
  cursor: pointer;
  border-bottom: 1px dotted #e9002d;
}
.tooltip-open:hover,
.tooltip-open:focus {
  border-bottom: 1px solid #e9002d;
}

.tooltip-wrapper {
  position: absolute;
  visibility: hidden;
}

.tooltip {
  position: absolute;
  min-width: 200px;
  top: 50%;
  transform: translate(-50%, 0);
  padding: 10px 20px;
  color: #f6f6f6;
  background-color: #0f0f0f;
  font-weight: normal;
  font-size: 1.5rem;
  z-index: 99999999;
  box-shadow: 0 -8px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0.5px;
  display: none;
  outline: none;
  letter-spacing: 1px;
}
@media screen and (max-width: 815px) {
  .tooltip {
    top: 45%;
  }
}
@media screen and (max-width: 530px) {
  .tooltip {
    top: 55%;
  }
}
.tooltip i {
  position: absolute;
  top: -3.5px;
  left: 20px;
  margin-left: -12px;
  width: 25px;
  height: 23px;
}
@media screen and (max-width: 530px) {
  .tooltip i {
    top: -8px;
    left: 50%;
  }
}
.tooltip i::after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(15, 15, 15, 0);
  border-top-color: #0f0f0f;
  border-width: 8px;
  margin-top: -8px;
}
@media screen and (max-width: 530px) {
  .tooltip i::after {
    border-top-color: rgba(15, 15, 15, 0);
    border-bottom-color: #0f0f0f;
    top: 0;
    right: 0;
  }
}
.tooltip .tooltip-expand {
  cursor: pointer;
}

.tooltip-first {
  width: -webkit-max-content;
  width: max-content;
  transition: all 150ms ease;
  left: 330px;
  display: none;
}
@media screen and (max-width: 961px) {
  .tooltip-first {
    left: 330px;
  }
}
@media screen and (max-width: 815px) {
  .tooltip-first {
    left: 310px;
  }
}
@media screen and (max-width: 530px) {
  .tooltip-first {
    left: 50%;
  }
}

.tooltip-second {
  width: 550px;
  transition: all 150ms ease;
  line-height: 1.5;
  left: 450px;
  display: none;
}
@media screen and (max-width: 961px) {
  .tooltip-second {
    width: 520px;
    left: 435px;
  }
}
@media screen and (max-width: 815px) {
  .tooltip-second {
    width: 415px;
    left: 363px;
  }
}
@media screen and (max-width: 530px) {
  .tooltip-second {
    width: 97%;
    left: 50%;
  }
}

@keyframes expand {
  0%,
  40% {
    width: 0;
  }
  42.5%,
  65% {
    width: 100%;
  }
  67%,
  100% {
    width: 0;
  }
}
@keyframes change {
  0%,
  7.5%,
  100% {
    transform: translate3d(0, 0%, 0);
  }
  10%,
  17.5% {
    transform: translate3d(0, -20%, 0);
  }
  20%,
  27.5% {
    transform: translate3d(0, -40%, 0);
  }
  30%,
  37.5% {
    transform: translate3d(0, -60%, 0);
  }
  40%,
  67.5% {
    transform: translate3d(0, -80%, 0);
  }
  70%,
  77.5% {
    transform: translate3d(0, -60%, 0);
  }
  80%,
  87.5% {
    transform: translate3d(0, -40%, 0);
  }
  90%,
  97.5% {
    transform: translate3d(0, -20%, 0);
  }
}
.landscape {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -20;
  opacity: 0;
  transition: opacity 1000ms ease;
  width: 100%;
  height: 100%;
}

.landscape-overlay {
  position: fixed;
  z-index: -10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  background: linear-gradient(black 0%, rgba(0, 0, 0, 0.6) 100%);
}
@keyframes mouse-scroll-animation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
.scroll-direction {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10%;
  right: 150px;
}
.scroll-direction span {
  padding-right: 20px;
  color: #f6f6f6;
  text-transform: uppercase;
}
@media screen and (max-width: 961px) {
  .scroll-direction {
    right: 75px;
  }
}
@media screen and (max-width: 815px) {
  .scroll-direction {
    display: none !important;
  }
}

.mouse {
  display: inline-block;
  width: 23px;
  height: 38px;
  border-radius: 100px;
  border: solid 2px #fff;
  position: relative;
  margin: 0 3px;
}
.mouse::before {
  content: "";
  position: absolute;
  background: #fff;
  width: 2px;
  height: 5px;
  top: 6px;
  left: 9px;
  animation: 1.2s ease-in-out infinite mouse-scroll-animation;
}

.events-page {
  color: #fff;
  background: #000;
}
.events-page section {
  overflow: hidden;
  min-height: 100vh;
  justify-content: center;
  display: flex;
}
.events-page section .wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}
.events-page section .section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin: 40px 0;
  padding: 0 150px;
}
@media screen and (max-width: 961px) {
  .events-page section .section-content {
    padding: 0 75px;
  }
}
@media screen and (max-width: 530px) {
  .events-page section .section-content {
    padding: 100px 40px 0 40px;
    margin: 0;
    align-items: center;
  }
}
.events-page section .section-content h1 {
  font-weight: 600;
  font-size: 5rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 60px;
}
.events-page section .section-content .description {
  color: #fff;
  line-height: 1.6;
  letter-spacing: 1px;
  max-width: 1000px;
}
.events-page .gallery {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  margin: 40px 0;
}
.events-page .webinar-item {
  position: relative;
  max-width: 530px;
  background-color: #0f0f0f;
  margin-bottom: 40px;
}
.events-page .webinar-item .title {
  color: #e9002d;
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 10px;
}
.events-page .webinar-item .video {
  height: 300px;
}
.events-page .webinar-item .video iframe {
  height: 100%;
  width: 100%;
}
.events-page .webinar-item .text {
  padding: 10px 12px;
  line-height: 1.6;
  letter-spacing: 1px;
}
.events-page .webinar-item .more {
  display: none;
}
.events-page .webinar-item .read-more {
  color: #e9002d;
  cursor: pointer;
}

.about-page {
  color: #f6f6f6;
  background-color: #000;
  line-height: 1.6;
}
.about-page .wrapper {
  margin: 0 auto;
}
.about-page h1 {
  font-size: 5rem;
  margin-top: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.about-page .vision-mission-group {
  display: flex;
  justify-content: space-between;
}
.about-page .vision-mission-group #vision {
  margin-right: 30px;
}
@media (max-width: 961px) {
  .about-page .vision-mission-group {
    flex-direction: column;
  }
  .about-page .vision-mission-group #vision {
    margin-right: 0;
  }
}
.about-page .aboutus-item {
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 30px;
  max-width: 1180px;
  width: 100%;
}
.about-page .aboutus {
  overflow: hidden;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.about-page .aboutus .wrapper {
  width: 100%;
  max-width: 1400px;
}
.about-page .section-content {
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  z-index: 1;
  display: table;
  margin: 40px 0;
  padding: 0 150px;
}
@media screen and (max-width: 961px) {
  .about-page .section-content {
    padding: 0 75px;
  }
}
@media screen and (max-width: 530px) {
  .about-page .section-content {
    padding: 100px 40px 0 40px;
    margin: 0;
    align-items: center;
  }
}
.about-page .about-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #0f0f0f;
  padding: 50px 30px 20px 30px;
}
.about-page i {
  color: #fff;
}
.about-page .open {
  transform: rotate(180deg);
}
.about-page .about-description {
  background-color: #0f0f0f;
  color: #fff;
  padding: 0px 30px 50px 30px;
  display: none;
}
.about-page .aboutus-item-values {
  list-style: none;
  line-height: 2;
}

footer {
  color: #3c3c3c;
  background-color: #000;
  padding: 50px 0;
}
footer .wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 960px) {
  footer .wrapper {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
footer .scroll-top {
  height: 56px;
  width: 52px;
  border-style: none;
  border-bottom: none;
  background: #000;
  display: none;
  position: fixed;
  right: 45px;
  bottom: 0px;
  z-index: 999;
  transition: 150ms ease;
}
@media screen and (max-width: 1000px) {
  footer .scroll-top {
    right: 15px;
  }
}
footer .chevron {
  display: inline-block;
  width: 12px;
  height: 16px;
  position: relative;
  bottom: 15px;
}
footer .chevron:before,
footer .chevron:after {
  display: block;
  content: "";
  width: 0;
  height: 0em;
  border-style: solid;
  position: absolute;
}
footer .chevron:before {
  right: -4px;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #f6f6f6 transparent;
  top: 6px;
}
footer .chevron:after {
  left: -2px;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #000 transparent;
  top: 8px;
}
footer .scroll-top:hover > .chevron:before {
  transition: 150ms ease;
  border-color: transparent transparent #e9002d transparent;
}
@media screen and (max-width: 960px) {
  footer .social-container {
    margin-bottom: 30px;
  }
}
footer .social-container a {
  font-size: 2rem;
  color: #f6f6f6;
  padding: 2px;
  margin: 0 5px;
}
footer .social-container a:hover,
footer .social-container a:focus {
  transition: 150ms ease;
  color: #e9002d;
}
@media screen and (max-width: 960px) {
  footer .social-container a {
    padding: 8px;
  }
}
footer .social-container i {
  position: relative;
  left: 5px;
}
