article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201c \201d \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow Semi Condensed", sans-serif; }

html {
  font-size: 62.5%; }

body {
  font-family: "Oxygen Mono", monospace;
  font-size: 1.6rem; }

.button-primary,
.button-secondary {
  width: 168px;
  height: 40px;
  border: 1px solid white;
  text-decoration: none;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: -webkit-transform 250ms ease-out, -webkit-box-shadow 150ms ease;
  transition: -webkit-transform 250ms ease-out, -webkit-box-shadow 150ms ease;
  -o-transition: transform 250ms ease-out, box-shadow 150ms ease;
  transition: transform 250ms ease-out, box-shadow 150ms ease;
  transition: transform 250ms ease-out, box-shadow 150ms ease, -webkit-transform 250ms ease-out, -webkit-box-shadow 150ms ease; }
  .button-primary:hover,
  .button-secondary:hover {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

.button-primary {
  background: white;
  color: black; }

.button-secondary {
  color: white; }

.hide {
  visibility: hidden; }

header {
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000; }
  header .wrapper {
    width: 80%;
    margin: 0 auto; }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.to {
  color: #e9002d;
  text-transform: uppercase;
  font-size: 5rem; }

.wit {
  font-size: 1.7rem;
  display: inline-block;
  width: 100px;
  font-family: "Oxygen Mono", monospace;
  font-weight: 400; }

.to,
.wit {
  -webkit-transition: font-size 150ms ease;
  -o-transition: font-size 150ms ease;
  transition: font-size 150ms ease; }

.scrolled-header {
  background: #0f0f0f;
  padding: 5px 0; }

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }
  .nav-right span {
    margin-right: 20px; }
  .nav-right:hover .bars {
    width: 30px; }

.hamburger {
  width: 30px;
  padding: 20px 0; }
  .hamburger .bars {
    position: relative;
    width: 20px;
    height: 2px;
    border-radius: 2.5px;
    background: white;
    -webkit-transition: width 150ms ease;
    -o-transition: width 150ms ease;
    transition: width 150ms ease; }
  .hamburger .bars::before,
  .hamburger .bars::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    border-radius: 2.5px;
    background: white; }
  .hamburger .bars::before {
    left: 0;
    top: 8px; }
  .hamburger .bars::after {
    left: 0;
    bottom: 8px; }

.nav-menu {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); }
  .nav-menu .wrapper {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .nav-menu .nav-right {
    padding-top: 9px; }
  .nav-menu ul {
    max-width: 1125px;
    list-style: none;
    text-align: right;
    margin-right: 10%; }
  .nav-menu a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 700;
    font-size: 9rem;
    line-height: 1;
    padding: 5px; }

.search-bar {
  margin-right: 10%;
  padding: 5px; }
  .search-bar input {
    padding: 0 5px;
    font-size: 9rem;
    width: 100%;
    background: transparent;
    border-style: none;
    border-bottom: 2px solid white;
    color: white; }
    .search-bar input::-webkit-input-placeholder {
      text-transform: uppercase;
      color: white;
      font-family: "Barlow Semi Condensed", sans-serif;
      font-weight: 700;
      font-size: 9rem; }
    .search-bar input:-ms-input-placeholder {
      text-transform: uppercase;
      color: white;
      font-family: "Barlow Semi Condensed", sans-serif;
      font-weight: 700;
      font-size: 9rem; }
    .search-bar input::-ms-input-placeholder {
      text-transform: uppercase;
      color: white;
      font-family: "Barlow Semi Condensed", sans-serif;
      font-weight: 700;
      font-size: 9rem; }
    .search-bar input::placeholder {
      text-transform: uppercase;
      color: white;
      font-family: "Barlow Semi Condensed", sans-serif;
      font-weight: 700;
      font-size: 9rem; }

.home-page {
  color: white;
  background: #e9c7c7; }
  .home-page h2 {
    font-size: 9rem;
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 30px; }
  .home-page p {
    font-size: 1.6rem;
    color: #a7a7a7;
    line-height: 1.5;
    letter-spacing: -0.1px;
    margin-bottom: 40px; }
  .home-page section {
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-size: cover; }
    .home-page section .wrapper {
      min-height: 100vh;
      width: 550px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .home-page .scroll-direction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    position: absolute;
    bottom: 50px;
    right: 50px; }
    .home-page .scroll-direction span {
      padding-right: 20px; }
  .home-page .mouse {
    display: inline-block;
    width: 23px;
    height: 38px;
    border-radius: 100px;
    border: solid 2px white;
    position: relative; }
    .home-page .mouse::before {
      content: "";
      position: absolute;
      background: white;
      width: 2px;
      height: 8px;
      top: 21px;
      left: 9px; }
  .home-page .section1 {
    background-image: url("../assets/background1.png"); }
  .home-page .section2 {
    background-image: url("../assets/background2.png");
    text-align: right;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .home-page .section2 .wrapper {
      margin-right: 150px;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
  .home-page .section3 {
    background-image: url("../assets/background3.png"); }
  .home-page .section1 .wrapper,
  .home-page .section3 .wrapper {
    margin-left: 150px; }

footer {
  background-color: black;
  padding: 50px; }
